@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background-primary: 236 237 236;
	--color-text-primary: 1 0 1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background-primary: 19 28 47;
		--color-text-primary: 254 254 255;
	}
}

html.dark {
	background-color: rgb(19, 28, 47);
	color: #fff;
}

html {
	color: black;
}

.dark .prose,
.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose ol > li::marker,
.dark .prose code,
.dark .prose strong,
.dark .prose blockquote,
.dark .prose a {
	color: #fff;
}

.prose,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose ol > li::marker,
.prose code,
.prose strong,
.prose blockquote,
.prose a {
	color: #000;
}

.prose p > code {
	background-color: #f1f1f1;
}

.dark .prose p > code {
	background-color: #333;
}

.dark .nav-links a {
	color: #fff;
}

pre {
	padding: 1ch;
}
