---
import HeaderLink from './HeaderLink.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header class="flex justify-between items-center py-4 px-12 mx-auto mb-8">
	<h3>
		<a href="/" class="underline-link text-4xl">Kutay</a>
	</h3>
	<nav class="flex items-center gap-12 md:gap-1">
		<ul class="flex gap-4 list-none m-0 p-0">
			<HeaderLink class="underline-link" href="/">Home</HeaderLink>
			<HeaderLink class="underline-link" href="/projects">Projects</HeaderLink>
			<HeaderLink class="underline-link" href="/blog">Blog</HeaderLink>
		</ul>
	</nav>
	<ThemeIcon />
</header>

<style>
	.underline-link {
		position: relative;
		text-decoration: none;
	}

	.underline-link::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.13em;
		background-color: black;
		opacity: 0;
		transition:
			opacity 350ms,
			transform 350ms;
		transform: translate3d(0, 0.2em, 0);
	}

	:root.dark .underline-link::after {
		background-color: white;
	}

	.underline-link:hover::after,
	.underline-link:focus::after {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
</style>
